[Unit]
Description=XPS 9370: resume Bluetooth
After=suspend.target hibernate.target hybrid-sleep.target

[Service]
User=root
Type=simple
ExecStart=/usr/sbin/bluetoothsuspend

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target
